.search-wrapper {
  margin-left: 200px;
}

.search-wrapper-input {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  padding: 0 0.5rem;
}

.search-wrapper-input input {
  background: transparent;
  border: none;
  padding: 0.5rem 1rem;
  outline: none;
  color: #fff;
  font-size: 1.5rem;
}
